<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1>Commission Management</h1>
<p>Manage commissions created on your platform.</p>
<div class="buttons">
	<div class="button hidden">Back</div>
	<div class="button active">Next</div>
</div>
<%- include('foot.ejs') %>