            </div>
        <p class="fixed">© <%= new Date().getFullYear() %> CommTrackr</p>
        <p class="fixed2">Changes saved</p>
    </main>
    <script src="<%= tenant.domain %><%= tenant.path %>/scripts.js" type="module"></script>
</body>

</html>