<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1>CommTrackr is disabled.</h1>
<p>Enable CommTrackr for your app using <code>commtrackr.on();</code></p>
<%- include('foot.ejs') %>