<%- include('head.ejs') %>
<main>
	<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
	<h1></h1>
	<p></p>
	<div class="buttons">
		<a class="button"></a>
		<div class="button"></div>
	</div>
</main>
<%- include('foot.ejs') %>