<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1></h1>
<p></p>
<div class="buttons">
	<a class="button"></a>
	<div class="button"></div>
</div>
<%- include('foot.ejs') %>