<%- include('head.ejs') %>
<img src="<%= tenant.logo %>" alt="<%= tenant.name %>">
<h1>Tenant Misconfigured</h1>
<p>Configure your CommTrackr tenant using <code>commtrackr.init({ tenant: { ... } });</code></p>
<%- include('foot.ejs') %>