@font-face {
	font-family: "Instrument Sans";
	src: url("InstrumentSans.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	color: #ffffff;
}

::-webkit-scrollbar {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #161616;
	color: #ffffff;
	font-family: "Instrument Sans", sans-serif;
	padding: 25px;
}

h1 {
	font-size: min(40px, 10vw);
	font-weight: 600;
	line-height: 50px;
	line-height: min(50px, 12.5vw);
}

h3 {
	font-weight: 400;
}

p {
	opacity: 0.75;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.09px;
}

code {
	padding: 2.5px 5px;
	background: #161616;
	border-radius: 5px;
	margin: 0 2.5px;
}

.buttons {
	display: flex;
	align-items: flex-start;
	gap: 15px;
	margin-top: 15px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 7.5px 22px;
	border-radius: 5px;
	border: 1px solid #242424;
	background: transparent;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.09px;
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	transition: 0.25s;
}

.button.hidden {
	display: none;
}

.button:hover,
.button:focus,
.button.active:not(:hover):not(:focus) {
	background: #2c2c2c;
	border-color: #393939;
	text-decoration: none;
}

.button.active:hover,
.button.active:focus {
	opacity: 0.5;
}

input,
textarea,
select {
	border: none;
	width: -webkit-fill-available;
	max-width: 500px;
	min-height: 45px;
	background: transparent;
	border-bottom: 1px solid #ffffff;
	outline: none;
	border-radius: 1px;
}

input.hidden,
textarea.hidden,
select.hidden {
	display: none;
}

input {
	font-size: 20px;
}

textarea {
	font-size: 15px;
}

.checkbox {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	padding: 5px 10px;
	border: 1px solid #ffffff;
	border-radius: 3px;
	cursor: pointer;
	user-select: none;
	transition: 0.25s;
}

.checkbox.checked {
	background: #ffffff;
	color: #161616;
}

select {
	font-size: 15px;

	option {
		background: #161616;
		color: #ffffff;
	}
}

input[type="radio"] {
	height: 20px;
	min-height: unset;
	width: 20px;
	appearance: none;
	border: 1.5px solid #ffffff;
	border-radius: 100%;
	transition: 0.25s;
}

input[type="radio"]:checked {
	background: #ffffff;
	transition: 0.25s;
}

.radioOptions {
	display: flex;
	flex-direction: column;
	gap: 7.5px;

	.radioOption {
		display: flex;
		align-items: center;
		gap: 5px;

		label {
			cursor: pointer;
		}
	}
}

main {
	display: flex;
	padding: min(100px, 10vh) 0;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	width: -webkit-fill-available;
	height: calc(100vh - 50px - (2 * (min(100px, 10vh))));
	background: #111111;
	border-radius: 15px;
	overflow-y: scroll;
	position: relative;
	transition: 0.25s;

	> .fixed {
		position: absolute;
		bottom: 25px;
		left: 30px;
	}

	> .fixed2 {
		position: absolute;
		bottom: 25px;
		right: 30px;
		opacity: 0;
		transition: 0.25s;
	}

	> .fixed2.visible {
		opacity: 1;
		transition: 0.25s;
	}

	> .progress {
		position: absolute;
		top: 0;
		left: 0;
		height: 5px;
		width: 0%;
		background: #ffffff;
		border-radius: 15px;
		transition: width 0.25s;
	}

	.inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		align-self: center;
		gap: 10px;
		width: 80%;
		max-width: 1000px;
		height: fit-content;
		max-height: 100%;
		position: relative;
		transition-timing-function: ease-in-out;
		opacity: 0;

		> img {
			width: 50px;
		}
	}

	.inner:has(.commissions) {
		overflow: scroll;
	}

	.inputField {
		display: flex;
		flex-direction: column;
		gap: 7.5px;
		width: -webkit-fill-available;
		margin-top: 5px;
		max-height: 200px;
		transition: 0.25s;
	}

	.inputField:not(.active) {
		margin-top: -10px;
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
		transition: 0.25s;
	}

	.commissions {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 5px;
		width: -webkit-fill-available;
		max-width: 500px;
		margin-top: 5px;

		#sync {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 5px;
			cursor: pointer;

			svg {
				height: 12.5px;
				transition: rotate 0.5s linear;

				path {
					stroke: #ffffff;
					stroke-width: 2px;
				}
			}
		}

		#sync.active {
			user-select: none;
			pointer-events: none;

			svg {
				rotate: 360deg;
				transition: rotate 0.5s linear;
			}
		}

		.commission {
			display: flex;
			align-items: center;
			gap: 10px;
			width: -webkit-fill-available;
			justify-content: flex-start;
			position: relative;
			padding-left: 10px;

			.button {
				margin-left: auto;
				width: fit-content;
				min-width: 35px;
			}

			p {
				margin-right: 20px;
			}
		}

		.commission::before {
			content: "";
			height: -webkit-fill-available;
			width: min(80%, 450px);
			background: transparent;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;
			position: absolute;
			margin-left: -50px;
			opacity: 0;
			transition: 0.25s;
		}

		.commission:has(.button:hover)::before {
			margin-left: -10px;
			opacity: 1;
			transition: 0.25s;
		}
	}
}

@keyframes out {
	0% {
		margin-left: 0%;
		opacity: 1;
	}
	100% {
		margin-left: -50%;
		opacity: 0;
	}
}

@keyframes in {
	0% {
		margin-right: -50%;
		opacity: 0;
	}
	100% {
		margin-right: 0%;
		opacity: 1;
	}
}

main.out .inner {
	animation: out 0.75s forwards;
}

main.in .inner {
	animation: in 0.5s forwards;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	20%,
	60% {
		transform: translateX(-10px);
	}
	40%,
	80% {
		transform: translateX(10px);
	}
}

.shake {
	animation: shake 0.5s;
}

@media screen and (max-width: 950px) {
	.buttons,
	.button {
		width: -webkit-fill-available;
	}

	.buttons {
		flex-direction: column;
		gap: 10px;
	}
}
